.sidebar {
  &.sticky {
    @include respond(md) {
      position: sticky;
    }
  }
}

.right-sidebar {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: var(--widget-separation);

  &.sticky {
    top: 0;
  }

  @include respond(lg) {
    padding-top: var(--main-top-padding);
    padding-bottom: var(--main-top-padding);
  }
}