{{- $scope := default "homepage" .Scope -}}
{{- $context := .Context -}}
{{- with (index .Context.Site.Params.widgets $scope) -}}
    <aside class="sidebar right-sidebar sticky">
        {{- $resources := $context.Params.resources -}}
        {{- if $resources -}}
        <div class="resources">
            {{ range $resource := $resources }}
                <div class="resource">
                    <a href="{{ $resource.website }}" target="_blank" rel="noopener">
                        {{ with $resource.image }}
                            <div class="resource-image">
                                <img src="{{ . }}" loading="lazy">
                            </div>
                        {{ end }}
                        <div class="resource-details">
                            <h2 class="resource-title">
                                {{- $resource.title -}}
                            </h2>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
        {{ end }}
        {{ range $widget := . }}
            {{ if templates.Exists (printf "partials/widget/%s.html" .type) }}
                <!-- Ensure that the `params` is not nil -->
                {{- $params := default dict .params -}}

                {{ partial (printf "widget/%s" .type) (dict "Context" $context "Params" $params) }}
            {{ else }}
                {{ warnf "Widget %s not found" .type }}
            {{ end }}
        {{ end }}
    </aside>
{{ end }}